doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  style.
    .hiddendiv{
    display: none;
    }
    tr:hover .hiddendiv{
    display: block;
    padding: 3px;
    }
  title My Schedule
nav.navbar.navbar-expanded.navbar-light.bg-light.mb-5
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='index') Home
    li.nav-item.active
      a.nav-link.active(href='schedule') Schedule
    li.nav-item
      a.nav-link(href='addEvent')
        | Add
        | Event
    li.nav-item
      a.nav-link(href='logout')
        img(src='logout.png' style='width:20px;height:20px;')
.container.mb-5
  .alert.alert-secondary(role='alert')
    | Click on a day to see its events
.container.mb-3
  ul#days.nav.nav-tabs.nav-fill
    li.nav-item
      a.nav-link(onclick='formTable(this)') Sunday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Monday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Tuesday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Wednesday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Thursday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Friday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Saturday
  br
  br
  .container
    table#scheduleTable.table.table-striped
      thead
        tr
          th(scope='col') Name
          th(scope='col') Time
          th(scope='col') Location
          th(scope='col') Phone
          th(scope='col') Extra Information
      tbody
script.
  function formTable(element) {
  $('#days li a').removeClass("active");
  $(element).addClass("active");
  clearTable();
  let day = $(element).text().toLowerCase();
  fetch('./getSchedule?' + new URLSearchParams({ dayQuery: day }))
  .then(response => response.json())
  .then(data => fillIn(data))
  }
  function fillIn(data) {
  let tbody = $('#scheduleTable tbody');
  for (let i = 0; i < data.length; i++) {
  tbody.append(`<tr id="${data[i].event_id}">
  <td>${data[i].event_event}</td>
  <td>${data[i].event_start}-${data[i].event_end}</td>
  <td>${data[i].event_location}</td><td>${data[i].event_phone}</td>
  <td><a href="${data[i].event_url}">${data[i].event_info}</a>
  <div class="hiddendiv"><button class="btn btn-outline-danger btn-sm" type="button" onClick="deleteRow(${data[i].event_id})">Delete</div>
  <div class="hiddendiv"><button class="btn btn-outline-success btn-sm" type="button" onClick="editRow(${data[i].event_id})">Edit</div>
  </td>
  </tr>`);
  }
  }
  function deleteRow(id){
  if(confirm("Do you really want to delete this event?")){
  fetch('./delEventEntry?' + new URLSearchParams({ eventId: id }), { method: 'DELETE' })
  .then(response => {
  if(response.status == 404) alert("Row" + id + "not deleted");
  else {
  // alert("Delete success");
  console.log("Successfully deleted row " + id);
  document.getElementById(`${id}`).remove();
  }
  });
  }
  }
  function editRow(id){
  window.location.href = '/editEvent?eventId=' + id;
  }
  function clearTable() {
  $('#scheduleTable tbody').empty();
  }
